<ion-view view-title="Document Listing">
  <ion-content class="padding">


    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Folder Object Id" value="{{searchValue}}">
      </label>
      <button class="button button-block button-positive" ng-click="getDocumentList()">Search</button>
    </div>

      <ion-list ng-repeat="item in items.entries">
        <ion-item>
          <h2>{{ item.content.properties.object_name }} last updated on {{ item.content.properties.object_name }}</h2>

          <p>{{ item.content.properties.subject }}</p>
        </ion-item>

      </ion-list>

  </ion-content>
</ion-view>
